<div class="col-md-12">
{{validated-text 
    changeset=changeset
    model=model
    property="name" 
    label="Name" 
    required=true 
    validateProperty=(action 'validateProperty' changeset "name")
}}
</div>

<div class="col-md-12">
{{validated-text 
    changeset=changeset
    model=model
    property="email" 
    label="Email" 
    required=true 
    validateProperty=(action 'validateProperty' changeset "email")
}}
</div>

<div class="col-md-4">
{{validated-text 
    changeset=changeset
    model=model
    nested=true
    property="address.street" 
    label="Street" 
    required=true 
    validateProperty=(action 'validateProperty' changeset "street")
}}
</div>
<div class="col-md-3">
{{validated-text 
    changeset=changeset
    model=model
    nested=true
    property="address.city" 
    label="City" 
    required=true 
    validateProperty=(action 'validateProperty' changeset "city")
}}
</div>
<div class="col-md-2">
{{validated-select
    componentId='state'
    changeset=changeset
    model=model
    nested=true
    options=usStates
    property='address.state'
    display='name'
    value='value'
    required=true
    classes="form-control"
    defaultDisplay="--- Select State ---"
    onChange=(action 'selectState' changeset)
    label="State"
}}
</div>
<div class="col-md-3">
{{validated-text 
    changeset=changeset
    model=model
    nested=true
    property="address.zip" 
    label="Postal Code" 
    required=true 
    validateProperty=(action 'validateProperty' changeset "zip")
}}
</div>

<div class="col-md-12">
    <button class="btn btn-primary pull-right" {{action restore changeset}}>Restore/Rollback</button>
</div>

{{yield}}