<label for={{concat type "-" property}} class='control-label m-b-0 {{if required 'required' ''}}'>
    {{label}} {{#if nested}}<span style="font-weight: 100; font-size: 10pt; color: blue;"> (nested property</span>){{/if}}
</label>

<input type="text" class="form-control {{if (get changeset.error property) 'bg-danger' ''}}" oninput={{action (mut (get changeset property)) value="target.value"}} value={{get changeset property}} />
<div><span style="font-weight: 100; font-size: 10pt">(changeset value: <i>{{mut (get changeset property)}}</i>)</span></div>
<div><span style="font-weight: 100; font-size: 10pt">(model value: <i>{{mut (get model property)}}</i>)</span></div>

{{#if hasErrors}}
    {{#each (get hasErrors 'validation') as |message index|}}
        {{#if (eq index 0)}}
            <small style="position: absolute;"><label class="control-label text-danger">{{message}}</label></small>
        {{/if}}
    {{/each}}
{{/if}}
